.top{
  background-image: url('/public/images/connect.jpg');
  background-position: center;
  background-size: 950px;
  height: 500px;
  width: auto;
   padding: 200px; 
  background-repeat: no-repeat;
}

.half{
  width: 400px;
  border: 1px solid rgb(160, 152, 152);
  padding: 50px;
  margin-left: 550px;
  justify-content: center;
  background: rgb(255, 242, 242);
}